h1 {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  padding: 14px;
  background-color: #000;
  color: #fff;
}

section {
  border: 1px solid rgb(255, 255, 255);
  width: 90%;
  max-width: 850px;
  margin: 40px auto;
  box-shadow: 1px 1px 6px 2px #e4e4e4;
}

section div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 200px;
}

section h3 {
  text-align: center;
  margin: 20px;
  font-weight: 500;
}

p {
  height: 100px;
  aspect-ratio: 1;
  border: 2px solid rgb(0, 0, 0);
  display: grid;
  place-items: center;
  margin: 30px 15px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  transition: 0.45s ease-in-out;
}

#inp-div {
  text-align: center;
}

#inp-div select {
  width: 100px;
  padding: 2px 6px;
}

button {
  margin-left: 10px;
  border: none;
  padding: 3.3px 10px;
  background-color: #000;
  color: #fff;
}

.display {
  height: 0;
  aspect-ratio: 1;
  border: none;
  margin: 0;
}
