#food-order h2 {
  color: rgb(170, 170, 170);
  text-align: center;
  margin: 40px auto;
  font-size: 20px;
  font-weight: normal;
  width: fit-content;
}

.h2 {
  color: black !important;
  font-weight: 500 !important;
  transform: scale(1.2);
  transition: 0.7s ease-in-out;
}
