#main-library section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px 0;
}

#main-library section div {
  width: 300px;
  margin: 15px;
  border-radius: 3px;
  box-shadow: 4px 4px 7px 2px #bbbbbb;
  padding-bottom: 48px;
  position: relative;
}

#main-library img {
  width: 100%;
  margin: 0px !important;
}

#main-library span {
  font-weight: bold;
  margin: 0px !important;
}

#main-library section div * {
  font-size: 14px;
  line-height: 20px;
  margin: 7px 8px;
}

#main-library section div button {
  width: 284px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  position: absolute;
  bottom: 5px;
}
